@import "tailwindcss";

html {
  height: -webkit-fill-available;
}
body {
  overflow-y: scroll;
  scrollbar-width: none;
  background: transparent;
  color: rgb(255, 255, 255);
  font-family: var(--font-open-sans), sans-serif;
  min-height: -webkit-fill-available;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}