@import "tailwindcss";

html,
body {
  overflow-y: scroll;
  scrollbar-width: none;
  background: transparent;
  color: white;
  font-family: var(--font-open-sans), sans-serif;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}